In [136]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))
        print(filename)

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/titanic/train.csv
train.csv
/kaggle/input/titanic/test.csv
test.csv
/kaggle/input/titanic/gender_submission.csv
gender_submission.csv

In [137]:
train = pd.read_csv('../input/titanic/train.csv')
test = pd.read_csv('../input/titanic/test.csv')

from sklearn.preprocessing import OrdinalEncoder
train = train.drop(['Name'], axis = 1)

## Points to think about
- does ticket number matter (is there information that you can get from ticket number)
- need to use cabin, but for right now I'm leaving it out

# Preprocessing Steps

In [138]:
oe_sex = OrdinalEncoder()
oe_embarked = OrdinalEncoder()
train['sex_encoded'] = oe_sex.fit_transform(train[['Sex']])
train['embarked_encoded'] = oe_embarked.fit_transform(train[['Embarked']])

In [139]:
train = train.drop(['PassengerId','Sex', 'Ticket', 'Embarked', 'Cabin'], axis = 1)

In [140]:
train.isna().sum(axis=0)

Survived              0
Pclass                0
Age                 177
SibSp                 0
Parch                 0
Fare                  0
sex_encoded           0
embarked_encoded      2
dtype: int64

In [141]:
x = train.drop(['Survived'], axis =1)
x = x.fillna(train.mean())
y = train[['Survived']]

In [142]:
x.isna().sum(axis=0)

Pclass              0
Age                 0
SibSp               0
Parch               0
Fare                0
sex_encoded         0
embarked_encoded    0
dtype: int64

In [143]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state=42)

In [144]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

tree = DecisionTreeClassifier()
forest = RandomForestClassifier()

tree.fit(x_train, y_train)
y_pred = tree.predict(x_test)

print(accuracy_score(y_test, y_pred))

forest.fit(x_train, y_train)
y_pred = forest.predict(x_test)

print(accuracy_score(y_test, y_pred))

0.7821229050279329

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:13: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  del sys.path[0]

0.8268156424581006

In [145]:
from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder()
_output = ohe.fit_transform(x[['Pclass']]).toarray()
print(ohe.categories_)#checking detected categories
for i in range(len(_output[0])):
    x['class_'+ str(i+1)] = _output[:,i]
x = x.drop(['Pclass'], axis =1 )
x

[array([1, 2, 3])]

,Age,SibSp,Parch,Fare,sex_encoded,embarked_encoded,class_1,class_2,class_3
0,22.000000,1,0,7.2500,1.0,2.0,0.0,0.0,1.0
1,38.000000,1,0,71.2833,0.0,0.0,1.0,0.0,0.0
2,26.000000,0,0,7.9250,0.0,2.0,0.0,0.0,1.0
3,35.000000,1,0,53.1000,0.0,2.0,1.0,0.0,0.0
4,35.000000,0,0,8.0500,1.0,2.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...
886,27.000000,0,0,13.0000,1.0,2.0,0.0,1.0,0.0
887,19.000000,0,0,30.0000,0.0,2.0,1.0,0.0,0.0
888,29.699118,1,2,23.4500,0.0,2.0,0.0,0.0,1.0
889,26.000000,0,0,30.0000,1.0,0.0,1.0,0.0,0.0
890,32.000000,0,0,7.7500,1.0,1.0,0.0,0.0,1.0

In [146]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state=42)

In [147]:
# Lesson, this is worse with one hot encoder
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

tree = DecisionTreeClassifier()
forest = RandomForestClassifier()

tree.fit(x_train, y_train)
y_pred = tree.predict(x_test)

print(accuracy_score(y_test, y_pred))

forest.fit(x_train, y_train)
y_pred = forest.predict(x_test)

print(accuracy_score(y_test, y_pred))

0.7877094972067039

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:14: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

0.8100558659217877